.render-bestsellers {
  padding: 3rem 1.5rem;
}

.render-bestsellers article {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.25rem;
}

.render-bestsellers div img {
  height: 20rem;
  object-fit: contain;
}

.render-bestsellers div p {
  margin-bottom: 0.5rem;
}
