.loadingpage {
  background-color: var(--primary-light);
}

.loadingpage div {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-block: 2rem;
}

.loadingpage article {
  background: url(/img/loadingpage-bottom.png) top no-repeat;
  background-size: cover;

  padding-block: 8rem;

  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loadingpage article h2 {
  max-width: 22ch;
}

.loadingpage article p {
  max-width: 38ch;
}
