header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1.5rem;
}

header nav {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

header h2 {
  color: var(--primary-light);
}
