header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1.5rem;

  /* position: fixed;
  top: 0;
  left: 0;
  width: 100vw; */
}

header nav {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

header h1 {
  color: var(--primary-light);
}

header h1 span {
  color: var(--primary-red);
}

header nav div {
  display: flex;
  align-items: center;
  gap: 1rem;
}
